/**label {
    display: block;
    text-align: left;
}**/

#contactdetails > h1,
#contactsection > h1 {
    text-align: center;
}

#contactdetails {
    display: none;
}

.contact {
    cursor: pointer;

}

.contact:hover {
    text-decoration: underline;
}



